.dropupOption{
    height: 190px;
    width: 220px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    transition: 0.8s;
    position: absolute;
    top: 35px;
    left: -15px;  
}


.option{
    padding: 8px 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.14);
    color: black;
    font-weight:400;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option:hover{
    transform: scale(1.2);
}

.optionTitle{}

.optionIcone{
    font-size: 16px;
}