@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

.foldersContainer{
    margin-top: 150px;
    min-height: 200px;
}

.foldersTitle{
    height: 2rem;
    margin: 20px 100px;
    color: var(--secondary-color);
    font-family: 'Kurale', serif;
    font-weight: bold;
    font-size: 1.4rem;
    align-items: center;
}

.folderInnerContainer{
    padding: 20px;
    margin: 40px 170px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:first baseline;
    gap: 250px 120px;
}

.folder{
    padding: 7px 15px ;
    min-width: 220px;
    border-radius: 7px;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.14);
    font-family: 'Kurale', serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.folder > span{
    color: var(--secondary-color);
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
}




.popupRenameFolder{
padding: 3px;
font-size: 1.2rem;
border-bottom: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;
}

.popupRenameFolder:focus{
    border: none;
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0px;
}

.arrowRenameFolder{
    padding: 3px;
    background: none;
    font-size: 1.1rem; 
    cursor:pointer;
    position: absolute;
    top: 58px;
    left: 175px;
}


@media screen and (max-width: 1500px){
    .folderInnerContainer{
        background: palevioletred;

        margin: 40px 120px;
    }
}